In [41]:
import pandas as pd
import numpy as np
import json as json
import tweepy
from timeit import default_timer as timer

In [2]:
#Loading dataset
tweet_av_df = pd.read_csv('twitter-archive-enhanced-2.csv')
image_pred_df = pd.read_csv('image-predictions-3.tsv', sep='\t')

### Visual Assessement on Twitter archive content which contains basic tweet data ###
-----
For this project, key data assessement requirement for twitter archive data include original rating and there should be an image associated for the given rating.
- "expanded_urls" is associated with image urls for a given tweet.
- It is observed that the "expanded_urls" column does have missing or no values
- "rating_numerator" gives us insights into the given dog rating.
- "tweet_id" it unique identifier identifing each unique tweet for each dog.
- "timestamp" captures the date and time specifics when a direct message was posted to weratedogs
- 2356 records in twitter archive data set.

In [21]:
tweet_av_df

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

### Programmatic Assessment on Twitter archive content which contains basic tweet data ###

In [23]:
tweet_av_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [24]:
tweet_av_df.tail()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [25]:
tweet_av_df.sample(5)

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
748,779377524342161408,NaN,NaN,2016-09-23 17:50:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Have you ever seen such a smol pupper? Portabl...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/779377524...,12,10,None,None,None,pupper,None
1821,676582956622721024,NaN,NaN,2015-12-15 02:02:01 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Meet Vinnie. He's having fun while being safe....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/676582956...,8,10,Vinnie,None,None,None,None
410,823322678127919110,NaN,NaN,2017-01-23 00:13:17 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Wyatt. He's got the fastest paws in th...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/823322678...,11,10,Wyatt,None,None,None,None
907,757741869644341248,NaN,NaN,2016-07-26 00:58:34 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Leonard. He hides in bushes to escape ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/757741869...,10,10,Leonard,None,None,None,None
300,836753516572119041,NaN,NaN,2017-03-01 01:42:39 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Meera. She just heard about taxes and ...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/836753516...,12,10,Meera,doggo,None,None,None

In [26]:
tweet_av_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [27]:
tweet_av_df.rating_numerator.describe()

count    2356.000000
mean       13.126486
std        45.876648
min         0.000000
25%        10.000000
50%        11.000000
75%        12.000000
max      1776.000000
Name: rating_numerator, dtype: float64

In [31]:
tweet_av_df[['doggo', 'floofer', 'pupper', 'puppo']].apply(pd.Series.value_counts)

          doggo  floofer  pupper   puppo
None     2259.0   2346.0  2099.0  2326.0
doggo      97.0      NaN     NaN     NaN
floofer     NaN     10.0     NaN     NaN
pupper      NaN      NaN   257.0     NaN
puppo       NaN      NaN     NaN    30.0

### Assessment Findings on Twitter archive data set ###
------
** Data Quality Issues **


- Completeness: The following columns are incomplete - and have missing values. 
'in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id','retweeted_status_user_id', 'retweeted_status_timestamp','expanded_urls'.

- Consistency: 'in_reply_to_user_id', 'retweeted_status_user_id' (status ids are sometimes populated with user_id).

- Validity: 'rating_denominator' has 0 values in it. This will result in 0 rating for dogs.

- Erroneous data types: 'timestamp', 'retweeted_status_timestamp' has been set as object type.

- Erroneous data types: 'in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id','retweeted_status_user_id' should be int type.

- Accuracy: 'name' column has inaccurate values.

### Assessment on Image Predection Data set ###

In [33]:
image_pred_df.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [34]:
image_pred_df.tail()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
2070,891327558926688256,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,basset,0.555712,True,English_springer,0.225770,True,German_short-haired_pointer,0.175219,True
2071,891689557279858688,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,paper_towel,0.170278,False,Labrador_retriever,0.168086,True,spatula,0.040836,False
2072,891815181378084864,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,True,malamute,0.078253,True,kelpie,0.031379,True
2073,892177421306343426,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,True,Pekinese,0.090647,True,papillon,0.068957,True
2074,892420643555336193,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,orange,0.097049,False,bagel,0.085851,False,banana,0.076110,False

In [35]:
image_pred_df.sample(5)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
402,673697980713705472,https://pbs.twimg.com/media/CVl0vFeWoAAMTfg.jpg,1,porcupine,0.151876,False,hen,0.111380,False,doormat,0.058934,False
1014,709566166965075968,https://pbs.twimg.com/media/Cdjiqi6XIAIUOg-.jpg,1,chow,0.999837,True,Tibetan_mastiff,0.000117,True,Australian_terrier,0.000011,True
721,685973236358713344,https://pbs.twimg.com/media/CYURBGoWYAAKey3.jpg,1,Siberian_husky,0.450678,True,Eskimo_dog,0.430275,True,malamute,0.118590,True
1764,826476773533745153,https://pbs.twimg.com/media/C3g8M0lWIAEcFgn.jpg,1,German_shepherd,0.741860,True,Tibetan_mastiff,0.122812,True,kelpie,0.100460,True
1268,749417653287129088,https://pbs.twimg.com/media/CmZ3YH9WEAAowi3.jpg,2,papillon,0.772894,True,Shetland_sheepdog,0.042408,True,collie,0.042313,True

In [36]:
image_pred_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB


### Assessment Findings on Image Predictions data set ###
------
** Data Quality Issues **

- No data quality issues are found with this data set. The dataset is complete, consistent, valid with no accuracy issues.

### Fixing data quality issues with twitter archive data ###

Before I gather tweet data, I will clean the data quality issues that was found on twitter archive data. I do this so, I can use this cleaned dataset to query twitter api to get tweet related data.

In [12]:
# Fixing the 'timestamp' data quality issue. Converting object type to datetime64 with UTC timezone 
tweet_av_df['timestamp'] = pd.to_datetime(tweet_av_df['timestamp'], utc=True, errors='coerce')
tweet_av_df.timestamp.dtype

In [22]:
# Fixing 'expanded_urls' data quality issue. Delete rows that have null values since we only want original tweet ratings that have images.
tweet_av_df = tweet_av_df.dropna(axis=0, subset=['expanded_urls'])
print('expanded urls has null values?', tweet_av_df.expanded_urls.isnull().values.any())

expanded urls has null values? False

In [29]:
# Fixing 'retweeted_status_id' data quality issue. We delete rows that have a value associated with retweeted_status_id since we only want original tweet ratings.
tweet_av_df = tweet_av_df.drop(tweet_av_df.loc[tweet_av_df.retweeted_status_id.notna()].index)
tweet_av_df.reset_index()
print('retweeted_status_id has a value?', tweet_av_df.retweeted_status_id.notna().any())

retweeted_status_id has a value? False

In [33]:
# Continue with 'retweeted_status_id' - since we are intrested with original tweets only, it is safe to drop this column since we are left with null values in this column.
tweet_av_df.drop(axis=1, columns=['retweeted_status_id'], inplace=True)

In [34]:
# 'retweeted_status_user_id' column can also be dropped since we are also left with null values. Keeping the original question in mind.
tweet_av_df.drop(axis=1, columns=['retweeted_status_user_id'], inplace=True)

In [35]:
# 'retweeted_status_timestamp' column can also be dropped since we are also left with null values. Keeping the original question in mind.
tweet_av_df.drop(axis=1, columns=['retweeted_status_timestamp'], inplace=True)

In [36]:
# 'in_reply_to_status_id' column can be dropped, since we are not really looking at tweets that were in reply.
tweet_av_df.drop(axis=1, columns=['in_reply_to_status_id'], inplace=True)

In [37]:
# 'in_reply_to_user_id' column can be dropped too, since we are not really looking at tweets that were in reply.
tweet_av_df.drop(axis=1, columns=['in_reply_to_user_id'], inplace=True)

In [38]:
# Taking a peek at tweet dataframe after fixing the data quality issues.
tweet_av_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2117 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2117 non-null   int64
 1   timestamp           2117 non-null   datetime64[ns, UTC]
 2   source              2117 non-null   object
 3   text                2117 non-null   object
 4   expanded_urls       2117 non-null   object
 5   rating_numerator    2117 non-null   int64
 6   rating_denominator  2117 non-null   int64
 7   name                2117 non-null   object
 8   doggo               2117 non-null   object
 9   floofer             2117 non-null   object
 10  pupper              2117 non-null   object
 11  puppo               2117 non-null   object
dtypes: datetime64[ns, UTC](1), int64(3), object(8)
memory usage: 295.0+ KB

Before we proceed with data tidy tasks., we will check the min and max timestamps of teets as we are not required to gather the tweets beyond August 1st, 2017.

In [40]:
# What is the min and max datetime from our teet dataset.
print(tweet_av_df.timestamp.min(), tweet_av_df.timestamp.max())

2015-11-15 22:32:08+00:00 2017-08-01 16:23:56+00:00

In [52]:

# A function to collect tweet json data using twitter api and save it to json file.
def collecttweetdata(tweet_ids):
    consumer_key = 'AeFxgKcFhsENzkKD8MfoMPoA9'
    consumer_secret = 'PErJwUZAwfmLBzZKyWBNwOpprGbUNsrro167rBYZ04JmzqmSqx'
    
    auth = tweepy.AppAuthHandler(consumer_key, consumer_secret)
    api = tweepy.API(auth, wait_on_rate_limit=True)
    count = 0
    fails_dict = {}
    start = timer()
    with open('tweet_json_latest.txt', 'w') as outfile:
        for tweet_id in tweet_ids:
            count += 1
            print(str(count) + ": " + str(tweet_id))
            try:
                tweetjson = api.get_status(tweet_id, tweet_mode="extended")
                print("Success")
                json.dump(tweetjson._json, outfile)
                outfile.write('\n')
            except tweepy.TweepError as e:
                print("Fail", e)
                fails_dict[tweet_id] = e
                pass
    end = timer()
    print(end - start)
    print(fails_dict)

In [53]:
# Lets collect tweet data and save to tweets data json file.
tweet_ids = tweet_av_df.tweet_id.values
collecttweetdata(tweet_ids)

764513869611008
Success
1533: 678755239630127104
Success
1534: 678740035362037760
Success
1535: 678708137298427904
Success
1536: 678675843183484930
Success
1537: 678643457146150913
Success
1538: 678446151570427904
Success
1539: 678424312106393600
Success
1540: 678410210315247616
Success
1541: 678399652199309312
Success
1542: 678396796259975168
Success
1543: 678389028614488064
Success
1544: 678380236862578688
Success
1545: 678341075375947776
Success
1546: 678334497360859136
Success
1547: 678278586130948096
Success
1548: 678255464182861824
Success
1549: 678021115718029313
Success
1550: 677961670166224897
Success
1551: 677918531514703872
Success
1552: 677895101218201600
Success
1553: 677716515794329600
Success
1554: 677700003327029250
Success
1555: 677698403548192770
Success
1556: 677687604918272002
Success
1557: 677673981332312066
Success
1558: 677662372920729601
Success
1559: 677644091929329666
Success
1560: 677573743309385728
Success
1561: 677565715327688705
Success
1562: 677557565589463040
Success
1563: 677547928504967168
Success
1564: 677530072887205888
Success
1565: 677335745548390400
Success
1566: 677334615166730240
Success
1567: 677331501395156992
Success
1568: 677328882937298944
Success
1569: 677314812125323265
Success
1570: 677301033169788928
Success
1571: 677269281705472000
Success
1572: 677228873407442944
Success
1573: 677187300187611136
Success
1574: 676975532580409345
Success
1575: 676957860086095872
Success
1576: 676949632774234114
Success
1577: 676948236477857792
Success
1578: 676946864479084545
Success
1579: 676942428000112642
Success
1580: 676936541936185344
Success
1581: 676916996760600576
Success
1582: 676897532954456065
Success
1583: 676864501615042560
Success
1584: 676821958043033607
Success
1585: 676819651066732545
Success
1586: 676811746707918848
Success
1587: 676776431406465024
Success
1588: 676617503762681856
Success
1589: 676613908052996102
Success
1590: 676606785097199616
Success
1591: 676603393314578432
Success
1592: 676593408224403456
Success
1593: 676588346097852417
Success
1594: 676582956622721024
Success
1595: 676575501977128964
Success
1596: 676533798876651520
Success
1597: 676496375194980353
Success
1598: 676470639084101634
Success
1599: 676440007570247681
Success
1600: 676430933382295552
Success
1601: 676263575653122048
Success
1602: 676237365392908289
Success
1603: 676219687039057920
Success
1604: 676215927814406144
Success
1605: 676191832485810177
Success
1606: 676146341966438401
Success
1607: 676121918416756736
Success
1608: 676101918813499392
Success
1609: 676098748976615425
Success
1610: 676089483918516224
Success
1611: 675898130735476737
Success
1612: 675891555769696257
Success
1613: 675888385639251968
Success
1614: 675878199931371520
Success
1615: 675870721063669760
Success
1616: 675853064436391936
Success
1617: 675845657354215424
Success
1618: 675822767435051008
Success
1619: 675820929667219457
Success
1620: 675798442703122432
Success
1621: 675781562965868544
Success
1622: 675740360753160193
Success
1623: 675710890956750848
Success
1624: 675707330206547968
Success
1625: 675706639471788032
Success
1626: 675534494439489536
Success
1627: 675531475945709568
Success
1628: 675522403582218240
Success
1629: 675517828909424640
Success
1630: 675501075957489664
Success
1631: 675497103322386432
Success
1632: 675489971617296384
Success
1633: 675483430902214656
Success
1634: 675432746517426176
Success
1635: 675372240448454658
Success
1636: 675362609739206656
Success
1637: 675354435921575936
Success
1638: 675349384339542016
Success
1639: 675334060156301312
Success
1640: 675166823650848770
Success
1641: 675153376133427200
Success
1642: 675149409102012420
Success
1643: 675147105808306176
Success
1644: 675146535592706048
Success
1645: 675145476954566656
Success
1646: 675135153782571009
Success
1647: 675113801096802304
Success
1648: 675111688094527488
Success
1649: 675109292475830276
Success
1650: 675047298674663426
Success
1651: 675015141583413248
Success
1652: 675006312288268288
Success
1653: 675003128568291329
Success
1654: 674999807681908736
Success
1655: 674805413498527744
Success
1656: 674800520222154752
Success
1657: 674793399141146624
Success
1658: 674790488185167872
Success
1659: 674788554665512960
Success
1660: 674781762103414784
Success
1661: 674774481756377088
Success
1662: 674767892831932416
Success
1663: 674764817387900928
Success
1664: 674754018082705410
Success
1665: 674752233200820224
Success
1666: 674743008475090944
Success
1667: 674739953134403584
Success
1668: 674737130913071104
Success
1669: 674690135443775488
Success
1670: 674670581682434048
Success
1671: 674664755118911488
Success
1672: 674646392044941312
Success
1673: 674644256330530816
Success
1674: 674638615994089473
Success
1675: 674632714662858753
Success
1676: 674468880899788800
Success
1677: 674447403907457024
Success
1678: 674436901579923456
Success
1679: 674422304705744896
Success
1680: 674416750885273600
Success
1681: 674410619106390016
Success
1682: 674394782723014656
Success
1683: 674372068062928900
Success
1684: 674318007229923329
Success
1685: 674307341513269249
Success
1686: 674291837063053312
Success
1687: 674271431610523648
Success
1688: 674269164442398721
Success
1689: 674265582246694913
Success
1690: 674262580978937856
Success
1691: 674255168825880576
Success
1692: 674082852460433408
Success
1693: 674075285688614912
Success
1694: 674063288070742018
Success
1695: 674053186244734976
Success
1696: 674051556661161984
Success
1697: 674045139690631169
Success
1698: 674042553264685056
Success
1699: 674038233588723717
Success
1700: 674036086168010753
Success
1701: 674024893172875264
Success
1702: 674019345211760640
Success
1703: 674014384960745472
Success
1704: 674008982932058114
Success
1705: 673956914389192708
Success
1706: 673919437611909120
Success
1707: 673906403526995968
Success
1708: 673887867907739649
Success
1709: 673715861853720576
Success
1710: 673711475735838725
Success
1711: 673709992831262724
Success
1712: 673708611235921920
Success
1713: 673707060090052608
Success
1714: 673705679337693185
Success
1715: 673700254269775872
Success
1716: 673697980713705472
Success
1717: 673689733134946305
Success
1718: 673688752737402881
Success
1719: 673686845050527744
Success
1720: 673680198160809984
Success
1721: 673662677122719744
Success
1722: 673656262056419329
Success
1723: 673636718965334016
Success
1724: 673612854080196609
Success
1725: 673583129559498752
Success
1726: 673580926094458881
Success
1727: 673576835670777856
Success
1728: 673363615379013632
Success
1729: 673359818736984064
Success
1730: 673355879178194945
Success
1731: 673352124999274496
Success
1732: 673350198937153538
Success
1733: 673345638550134785
Success
1734: 673343217010679808
Success
1735: 673342308415348736
Success
1736: 673320132811366400
Success
1737: 673317986296586240
Success
1738: 673295268553605120
Success
1739: 673270968295534593
Success
1740: 673240798075449344
Success
1741: 673213039743795200
Success
1742: 673148804208660480
Success
1743: 672997845381865473
Success
1744: 672995267319328768
Success
1745: 672988786805112832
Success
1746: 672984142909456390
Success
1747: 672980819271634944
Success
1748: 672975131468300288
Success
1749: 672970152493887488
Success
1750: 672968025906282496
Success
1751: 672964561327235073
Success
1752: 672902681409806336
Success
1753: 672898206762672129
Success
1754: 672884426393653248
Success
1755: 672877615439593473
Success
1756: 672834301050937345
Success
1757: 672828477930868736
Success
1758: 672640509974827008
Success
1759: 672622327801233409
Success
1760: 672614745925664768
Success
1761: 672609152938721280
Success
1762: 672604026190569472
Success
1763: 672594978741354496
Success
1764: 672591762242805761
Success
1765: 672591271085670400
Success
1766: 672538107540070400
Success
1767: 672523490734551040
Success
1768: 672488522314567680
Success
1769: 672482722825261057
Success
1770: 672481316919734272
Success
1771: 672475084225949696
Success
1772: 672466075045466113
Success
1773: 672272411274932228
Success
1774: 672267570918129665
Success
1775: 672264251789176834
Success
1776: 672256522047614977
Success
1777: 672254177670729728
Success
1778: 672248013293752320
Success
1779: 672245253877968896
Success
1780: 672239279297454080
Success
1781: 672231046314901505
Success
1782: 672222792075620352
Success
1783: 672205392827572224
Success
1784: 672169685991993344
Success
1785: 672160042234327040
Success
1786: 672139350159835138
Success
1787: 672125275208069120
Success
1788: 672095186491711488
Success
1789: 672082170312290304
Success
1790: 672068090318987265
Success
1791: 671896809300709376
Success
1792: 671891728106971137
Success
1793: 671882082306625538
Success
1794: 671879137494245376
Success
1795: 671874878652489728
Success
1796: 671866342182637568
Success
1797: 671855973984772097
Success
1798: 671789708968640512
Success
1799: 671768281401958400
Success
1800: 671763349865160704
Success
1801: 671744970634719232
Success
1802: 671743150407421952
Success
1803: 671735591348891648
Success
1804: 671729906628341761
Success
1805: 671561002136281088
Success
1806: 671547767500775424
Success
1807: 671544874165002241
Success
1808: 671542985629241344
Success
1809: 671538301157904385
Success
1810: 671536543010570240
Success
1811: 671533943490011136
Success
1812: 671528761649688577
Success
1813: 671520732782923777
Success
1814: 671518598289059840
Success
1815: 671511350426865664
Success
1816: 671504605491109889
Success
1817: 671497587707535361
Success
1818: 671488513339211776
Success
1819: 671486386088865792
Success
1820: 671485057807351808
Success
1821: 671390180817915904
Success
1822: 671362598324076544
Success
1823: 671357843010908160
Success
1824: 671355857343524864
Success
1825: 671347597085433856
Success
1826: 671186162933985280
Success
1827: 671182547775299584
Success
1828: 671166507850801152
Success
1829: 671163268581498880
Success
1830: 671159727754231808
Success
1831: 671154572044468225
Success
1832: 671151324042559489
Success
1833: 671147085991960577
Success
1834: 671141549288370177
Success
1835: 671138694582165504
Success
1836: 671134062904504320
Success
1837: 671122204919246848
Success
1838: 671115716440031232
Success
1839: 671109016219725825
Success
1840: 670995969505435648
Success
1841: 670842764863651840
Success
1842: 670840546554966016
Success
1843: 670838202509447168
Success
1844: 670833812859932673
Success
1845: 670832455012716544
Success
1846: 670826280409919488
Success
1847: 670823764196741120
Success
1848: 670822709593571328
Success
1849: 670815497391357952
Success
1850: 670811965569282048
Success
1851: 670807719151067136
Success
1852: 670804601705242624
Success
1853: 670803562457407488
Success
1854: 670797304698376195
Success
1855: 670792680469889025
Success
1856: 670789397210615808
Success
1857: 670786190031921152
Success
1858: 670783437142401025
Success
1859: 670782429121134593
Success
1860: 670780561024270336
Success
1861: 670778058496974848
Success
1862: 670764103623966721
Success
1863: 670755717859713024
Success
1864: 670733412878163972
Success
1865: 670727704916926465
Success
1866: 670717338665226240
Success
1867: 670704688707301377
Success
1868: 670691627984359425
Success
1869: 670679630144274432
Success
1870: 670676092097810432
Success
1871: 670668383499735048
Success
1872: 670474236058800128
Success
1873: 670468609693655041
Success
1874: 670465786746662913
Success
1875: 670452855871037440
Success
1876: 670449342516494336
Success
1877: 670444955656130560
Success
1878: 670442337873600512
Success
1879: 670435821946826752
Success
1880: 670434127938719744
Success
1881: 670433248821026816
Success
1882: 670428280563085312
Success
1883: 670427002554466305
Success
1884: 670421925039075328
Success
1885: 670420569653809152
Success
1886: 670417414769758208
Success
1887: 670411370698022913
Success
1888: 670408998013820928
Success
1889: 670403879788544000
Success
1890: 670385711116361728
Success
1891: 670374371102445568
Success
1892: 670361874861563904
Success
1893: 670338931251150849
Success
1894: 670319130621435904
Success
1895: 670303360680108032
Success
1896: 670290420111441920
Success
1897: 670093938074779648
Success
1898: 670086499208155136
Success
1899: 670079681849372674
Success
1900: 670073503555706880
Success
1901: 670069087419133954
Success
1902: 670061506722140161
Success
1903: 670055038660800512
Success
1904: 670046952931721218
Success
1905: 670040295598354432
Success
1906: 670037189829525505
Success
1907: 670003130994700288
Success
1908: 669993076832759809
Success
1909: 669972011175813120
Success
1910: 669970042633789440
Success
1911: 669942763794931712
Success
1912: 669926384437997569
Success
1913: 669923323644657664
Success
1914: 669753178989142016
Success
1915: 669749430875258880
Success
1916: 669683899023405056
Success
1917: 669682095984410625
Success
1918: 669680153564442624
Success
1919: 669661792646373376
Success
1920: 669625907762618368
Success
1921: 669603084620980224
Success
1922: 669597912108789760
Success
1923: 669583744538451968
Success
1924: 669573570759163904
Success
1925: 669571471778410496
Success
1926: 669567591774625800
Success
1927: 669564461267722241
Success
1928: 669393256313184256
Success
1929: 669375718304980992
Success
1930: 669371483794317312
Success
1931: 669367896104181761
Success
1932: 669363888236994561
Success
1933: 669359674819481600
Success
1934: 669354382627049472
Success
1935: 669353438988365824
Success
1936: 669351434509529089
Success
1937: 669328503091937280
Success
1938: 669327207240699904
Success
1939: 669324657376567296
Success
1940: 669216679721873412
Success
1941: 669214165781868544
Success
1942: 669203728096960512
Success
1943: 669037058363662336
Success
1944: 669015743032369152
Success
1945: 669006782128353280
Success
1946: 669000397445533696
Success
1947: 668994913074286592
Success
1948: 668992363537309700
Success
1949: 668989615043424256
Success
1950: 668988183816871936
Success
1951: 668986018524233728
Success
1952: 668981893510119424
Success
1953: 668979806671884288
Success
1954: 668975677807423489
Success
1955: 668960084974809088
Success
1956: 668955713004314625
Success
1957: 668932921458302977
Success
1958: 668902994700836864
Success
1959: 668892474547511297
Success
1960: 668872652652679168
Success
1961: 668852170888998912
Success
1962: 668826086256599040
Success
1963: 668815180734689280
Success
1964: 668779399630725120
Success
1965: 668655139528511488
Success
1966: 668645506898350081
Success
1967: 668643542311546881
Success
1968: 668641109086707712
Success
1969: 668636665813057536
Success
1970: 668633411083464705
Success
1971: 668631377374486528
Success
1972: 668627278264475648
Success
1973: 668625577880875008
Success
1974: 668623201287675904
Success
1975: 668620235289837568
Success
1976: 668614819948453888
Success
1977: 668587383441514497
Success
1978: 668567822092664832
Success
1979: 668544745690562560
Success
1980: 668542336805281792
Success
1981: 668537837512433665
Success
1982: 668528771708952576
Success
1983: 668507509523615744
Success
1984: 668496999348633600
Success
1985: 668484198282485761
Success
1986: 668480044826800133
Success
1987: 668466899341221888
Success
1988: 668297328638447616
Success
1989: 668291999406125056
Success
1990: 668286279830867968
Success
1991: 668274247790391296
Success
1992: 668268907921326080
Success
1993: 668256321989451776
Success
1994: 668248472370458624
Success
1995: 668237644992782336
Success
1996: 668226093875376128
Success
1997: 668221241640230912
Success
1998: 668204964695683073
Success
1999: 668190681446379520
Success
2000: 668171859951755264
Success
2001: 668154635664932864
Success
2002: 668142349051129856
Success
2003: 668113020489474048
Success
2004: 667937095915278337
Success
2005: 667924896115245057
Success
2006: 667915453470232577
Success
2007: 667911425562669056
Success
2008: 667902449697558528
Success
2009: 667886921285246976
Success
2010: 667885044254572545
Success
2011: 667878741721415682
Success
2012: 667873844930215936
Success
2013: 667866724293877760
Success
2014: 667861340749471744
Success
2015: 667832474953625600
Success
2016: 667806454573760512
Success
2017: 667801013445750784
Success
2018: 667793409583771648
Success
2019: 667782464991965184
Success
2020: 667773195014021121
Success
2021: 667766675769573376
Success
2022: 667728196545200128
Success
2023: 667724302356258817
Success
2024: 667549055577362432
Success
2025: 667546741521195010
Success
2026: 667544320556335104
Success
2027: 667538891197542400
Success
2028: 667534815156183040
Success
2029: 667530908589760512
Success
2030: 667524857454854144
Success
2031: 667517642048163840
Success
2032: 667509364010450944
Success
2033: 667502640335572993
Success
2034: 667495797102141441
Success
2035: 667491009379606528
Success
2036: 667470559035432960
Success
2037: 667455448082227200
Success
2038: 667453023279554560
Success
2039: 667443425659232256
Success
2040: 667437278097252352
Success
2041: 667435689202614272
Success
2042: 667405339315146752
Success
2043: 667393430834667520
Success
2044: 667369227918143488
Success
2045: 667211855547486208
Success
2046: 667200525029539841
Success
2047: 667192066997374976
Success
2048: 667188689915760640
Success
2049: 667182792070062081
Success
2050: 667177989038297088
Success
2051: 667176164155375616
Success
2052: 667174963120574464
Success
2053: 667171260800061440
Success
2054: 667165590075940865
Success
2055: 667160273090932737
Success
2056: 667152164079423490
Success
2057: 667138269671505920
Success
2058: 667119796878725120
Success
2059: 667090893657276420
Success
2060: 667073648344346624
Success
2061: 667065535570550784
Success
2062: 667062181243039745
Success
2063: 667044094246576128
Success
2064: 667012601033924608
Success
2065: 666996132027977728
Success
2066: 666983947667116034
Success
2067: 666837028449972224
Success
2068: 666835007768551424
Success
2069: 666826780179869698
Success
2070: 666817836334096384
Success
2071: 666804364988780544
Success
2072: 666786068205871104
Success
2073: 666781792255496192
Success
2074: 666776908487630848
Success
2075: 666739327293083650
Success
2076: 666701168228331520
Success
2077: 666691418707132416
Success
2078: 666649482315059201
Success
2079: 666644823164719104
Success
2080: 666454714377183233
Success
2081: 666447344410484738
Success
2082: 666437273139982337
Success
2083: 666435652385423360
Success
2084: 666430724426358785
Success
2085: 666428276349472768
Success
2086: 666421158376562688
Success
2087: 666418789513326592
Success
2088: 666411507551481857
Success
2089: 666407126856765440
Success
2090: 666396247373291520
Success
2091: 666373753744588802
Success
2092: 666362758909284353
Success
2093: 666353288456101888
Success
2094: 666345417576210432
Success
2095: 666337882303524864
Success
2096: 666293911632134144
Success
2097: 666287406224695296
Success
2098: 666273097616637952
Success
2099: 666268910803644416
Success
2100: 666104133288665088
Success
2101: 666102155909144576
Success
2102: 666099513787052032
Success
2103: 666094000022159362
Success
2104: 666082916733198337
Success
2105: 666073100786774016
Success
2106: 666071193221509120
Success
2107: 666063827256086533
Success
2108: 666058600524156928
Success
2109: 666057090499244032
Success
2110: 666055525042405380
Success
2111: 666051853826850816
Success
2112: 666050758794694657
Success
2113: 666049248165822465
Success
2114: 666044226329800704
Success
2115: 666033412701032449
Success
2116: 666029285002620928
Success
2117: 666020888022790149
Success
1826.8615019000135
{872261713294495745: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 844704788403113984: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 837366284874571778: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 829374341691346946: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 779123168116150273: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 754011816964026368: TweepError([{'code': 144, 'message': 'No status found with that ID.'}]), 680055455951884288: TweepError([{'code': 144, 'message': 'No status found with that ID.'}])}

In [54]:
# Creating dataframe from the tweet json that will have the 'favorite_count' and 'retweet_count'
def is_json_key_present(json, key):
    try:
        buf = json[key]
    except KeyError:
        return False

    return True

column_names = ["tweet_id", "favorite_count", "retweet_count"]
list_vals = []
with open('tweet-json.txt','r') as jfile:
    for line in jfile:
        try:
            myjson = json.loads(line)
            if (is_json_key_present(myjson,'id') and  is_json_key_present(myjson,'favorite_count') and is_json_key_present(myjson,'retweet_count')):
                vals = [myjson['id'], myjson['favorite_count'], myjson['retweet_count']]
                list_vals.append(vals)
            else:
                print('Skipping row as there is no data')
        except:
            pass
tweet_data_df = pd.DataFrame(list_vals, columns=column_names)
tweet_data_df.head()

             tweet_id  favorite_count  retweet_count
0  892420643555336193           35727           7547
1  892177421306343426           30867           5597
2  891815181378084864           23212           3706
3  891689557279858688           39015           7731
4  891327558926688256           37264           8334

### Tideness issues ###

The following tideness issues were identified.

- The retweet and favorite count belong to twitter data set - to form an observational unit (table).
- 
- As each variable forms a column, the columns on twitter data set 'doggo', 'floofer', 'pupper', 'puppo' are identifing various stages of dog. We fix this by creating a single column 'present_stage' that captures the dog stage.

In [55]:
tweet_av_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2117 entries, 0 to 2355
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2117 non-null   int64
 1   timestamp           2117 non-null   datetime64[ns, UTC]
 2   source              2117 non-null   object
 3   text                2117 non-null   object
 4   expanded_urls       2117 non-null   object
 5   rating_numerator    2117 non-null   int64
 6   rating_denominator  2117 non-null   int64
 7   name                2117 non-null   object
 8   doggo               2117 non-null   object
 9   floofer             2117 non-null   object
 10  pupper              2117 non-null   object
 11  puppo               2117 non-null   object
dtypes: datetime64[ns, UTC](1), int64(3), object(8)
memory usage: 295.0+ KB

In [57]:
tweet_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2110 entries, 0 to 2109
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2110 non-null   int64
 1   favorite_count  2110 non-null   int64
 2   retweet_count   2110 non-null   int64
dtypes: int64(3)
memory usage: 49.6 KB

In [65]:
# Merge tweet archive data set with tweet json data set that has favorite and retweet count.
twitter_av_favs_df =  tweet_av_df.merge(tweet_data_df, on='tweet_id')

In [59]:
twitter_av_favs_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2110 entries, 0 to 2109
Data columns (total 14 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   tweet_id            2110 non-null   int64
 1   timestamp           2110 non-null   datetime64[ns, UTC]
 2   source              2110 non-null   object
 3   text                2110 non-null   object
 4   expanded_urls       2110 non-null   object
 5   rating_numerator    2110 non-null   int64
 6   rating_denominator  2110 non-null   int64
 7   name                2110 non-null   object
 8   doggo               2110 non-null   object
 9   floofer             2110 non-null   object
 10  pupper              2110 non-null   object
 11  puppo               2110 non-null   object
 12  favorite_count      2110 non-null   int64
 13  retweet_count       2110 non-null   int64
dtypes: datetime64[ns, UTC](1), int64(5), object(8)
memory usage: 327.3+ KB

In [66]:
twitter_av_favs_df[['doggo', 'floofer', 'pupper', 'puppo']].apply(pd.Series.value_counts)

          doggo  floofer  pupper   puppo
None     2027.0   2100.0  1878.0  2086.0
doggo      83.0      NaN     NaN     NaN
floofer     NaN     10.0     NaN     NaN
pupper      NaN      NaN   232.0     NaN
puppo       NaN      NaN     NaN    24.0

In [64]:
twitter_av_favs_df

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,name,favorite_count,retweet_count,dog_stage,value
0,892420643555336193,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,Phineas,35727,7547,doggo,None
1,892177421306343426,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,Tilly,30867,5597,doggo,None
2,891815181378084864,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,Archie,23212,3706,doggo,None
3,891689557279858688,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,Darla,39015,7731,doggo,None
4,891327558926688256,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,Franklin,37264,8334,doggo,None
...,...,...,...,...,...,...,...,...,...,...,...
8435,666049248165822465,2015-11-16 00:24:50+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,https://twitter.com/dog_rates/status/666049248...,5,None,96,40,puppo,None
8436,666044226329800704,2015-11-16 00:04:52+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,https://twitter.com/dog_rates/status/666044226...,6,a,265,127,puppo,None
8437,666033412701032449,2015-11-15 23:21:54+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,https://twitter.com/dog_rates/status/666033412...,9,a,111,40,puppo,None
8438,666029285002620928,2015-11-15 23:05:30+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,https://twitter.com/dog_rates/status/666029285...,7,a,120,42,puppo,None
8439,666020888022790149,2015-11-15 22:32:08+00:00,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,https://twitter.com/dog_rates/status/666020888...,8,None,2380,457,puppo,None

In [60]:
twitter_av_favs_df.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo,favorite_count,retweet_count
0,892420643555336193,2017-08-01 16:23:56+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None,35727,7547
1,892177421306343426,2017-08-01 00:17:27+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None,30867,5597
2,891815181378084864,2017-07-31 00:18:03+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None,23212,3706
3,891689557279858688,2017-07-30 15:58:51+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None,39015,7731
4,891327558926688256,2017-07-29 16:00:24+00:00,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None,37264,8334

In [19]:
tweet_av_df[tweet_av_df.retweeted_status_timestamp.notna()][['tweet_id', 'timestamp', 'retweeted_status_timestamp']]

                tweet_id                 timestamp retweeted_status_timestamp
19    888202515573088257 2017-07-21 01:02:36+00:00  2017-07-19 00:47:34 +0000
32    886054160059072513 2017-07-15 02:45:48+00:00  2017-07-15 02:44:07 +0000
36    885311592912609280 2017-07-13 01:35:06+00:00  2017-02-12 01:04:29 +0000
68    879130579576475649 2017-06-26 00:13:58+00:00  2017-06-23 01:10:23 +0000
73    878404777348136964 2017-06-24 00:09:53+00:00  2017-06-23 16:00:04 +0000
...                  ...                       ...                        ...
1023  746521445350707200 2016-06-25 01:52:36+00:00  2015-11-21 00:46:50 +0000
1043  743835915802583040 2016-06-17 16:01:16+00:00  2015-11-19 00:32:12 +0000
1242  711998809858043904 2016-03-21 19:31:59+00:00  2016-03-21 19:29:52 +0000
2259  667550904950915073 2015-11-20 03:51:52+00:00  2015-11-20 03:43:06 +0000
2260  667550882905632768 2015-11-20 03:51:47+00:00  2015-11-20 03:41:59 +0000

[181 rows x 3 columns]

In [6]:
tweet_av_df[['doggo', 'floofer', 'pupper', 'puppo']].describe()

       doggo floofer pupper puppo
count   2356    2356   2356  2356
unique     2       2      2     2
top     None    None   None  None
freq    2259    2346   2099  2326

In [5]:
image_pred_df[image_pred_df.duplicated(['jpg_url'], keep=False)].sort()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
85,667509364010450944,https://pbs.twimg.com/media/CUN4Or5UAAAa5K4.jpg,1,beagle,0.636169,True,Labrador_retriever,0.119256,True,golden_retriever,0.082549,True
224,670319130621435904,https://pbs.twimg.com/media/CU1zsMSUAAAS0qW.jpg,1,Irish_terrier,0.254856,True,briard,0.227716,True,soft-coated_wheaten_terrier,0.223263,True
241,670444955656130560,https://pbs.twimg.com/media/CU3mITUWIAAfyQS.jpg,1,English_springer,0.403698,True,Brittany_spaniel,0.347609,True,Welsh_springer_spaniel,0.137186,True
327,671896809300709376,https://pbs.twimg.com/media/CVMOlMiWwAA4Yxl.jpg,1,chow,0.243529,True,hamster,0.227150,False,Pomeranian,0.056057,True
382,673320132811366400,https://pbs.twimg.com/media/CVgdFjNWEAAxmbq.jpg,3,Samoyed,0.978833,True,Pomeranian,0.012763,True,Eskimo_dog,0.001853,True
...,...,...,...,...,...,...,...,...,...,...,...,...
1970,868880397819494401,https://pbs.twimg.com/media/DA7iHL5U0AA1OQo.jpg,1,laptop,0.153718,False,French_bulldog,0.099984,True,printer,0.077130,False
1992,873697596434513921,https://pbs.twimg.com/media/DA7iHL5U0AA1OQo.jpg,1,laptop,0.153718,False,French_bulldog,0.099984,True,printer,0.077130,False
2041,885311592912609280,https://pbs.twimg.com/media/C4bTH6nWMAAX_bJ.jpg,1,Labrador_retriever,0.908703,True,seat_belt,0.057091,False,pug,0.011933,True
2051,887473957103951883,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True
2055,888202515573088257,https://pbs.twimg.com/media/DFDw2tyUQAAAFke.jpg,2,Pembroke,0.809197,True,Rhodesian_ridgeback,0.054950,True,beagle,0.038915,True

In [ ]:
tweets_data = []
with open('tweets.json', errors='ignore') as tweets:
    for line in tweets:
        #print(json.loads(json.dumps(line)))
        tweets_data.append(json.loads(json.dumps(line)))
tweets_df = pd.DataFrame(tweets_data)
tweets_df.head()

In [ ]:
from pandas.io.json import json_normalize
twt_dt = {}
with open('tweets.json', errors='ignore') as tweets:
    for line in tweets:
        twt_dt.append(json_normalize(json.loads(line)))
        #twt_dict = json.loads(line)
        #print(json_normalize(twt_dict))        
cmpd_df = pd.DataFrame.from_records(twt_dt)
cmpd_df.head()
#print(tweets_data[0])
#json_normalize(tweets_data[0])

In [ ]:
from pandas.io.json import json_normalize
df = json_normalize([json.loads(x) for x in open('tweets.json').readlines()])
print (df)

In [ ]:
df = pd.DataFrame()
row_df=[]
with open('tweets.json') as f:
    for l in f:
        try:
            df. = json_normalize(json.loads(l))
            row_df.append(df)
        except:
            pass
dt = pd.concat(row_df)
dt.head()
#dfA.head()

In [ ]:
df.info()

In [ ]:
dt.columns

In [ ]:
data = []
with open('tweets.json','r') as f:
    for l in f:
        try:
            data.append(json_normalize(json.loads(l)))
        except:
            pass
print(type(data[0]))
df = pd.DataFrame.from_dict(map(dict,data))
pd.DataFrame.join()
df.head()

In [ ]:
df.columns[pd.Series(df.columns).str.contains("favorite_count")]

In [ ]:
df.columns[pd.Series(df.columns).str.contains("retweet_count")]

In [ ]:
df[['favorite_count']].info()

In [ ]:
df[['retweet_count']].info()

In [ ]:
df[['id']].info()

In [ ]:
df[['retweet_count']]

In [ ]:
df[['id']]

In [ ]:
df[['favorite_count']]

In [ ]:
df[['id','favorite_count', 'retweet_count']].head()

In [4]:
def is_json_key_present(json, key):
    try:
        buf = json[key]
    except KeyError:
        return False

    return True

column_names = ["tweet_id", "favorite_count", "retweet_count"]
list_vals = []
with open('tweet-json.txt','r') as f:
    for l in f:
        try:
            myjson = json.loads(l)
            if (is_json_key_present(myjson,'id') and  is_json_key_present(myjson,'favorite_count') and is_json_key_present(myjson,'retweet_count')):
                vals = [myjson['id'], myjson['favorite_count'], myjson['retweet_count']]
                list_vals.append(vals)
            else:
                print('Skipping row as there is no data')
        except:
            pass
mydf = pd.DataFrame(list_vals, columns=column_names)
mydf.head()

             tweet_id  favorite_count  retweet_count
0  892420643555336193           39467           8853
1  892177421306343426           33819           6514
2  891815181378084864           25461           4328
3  891689557279858688           42908           8964
4  891327558926688256           41048           9774

In [ ]:
mydf.info()

In [ ]:
twitter_archive_favs_df =  tweet_av_df.merge(mydf, on='tweet_id')

In [ ]:
twitter_archive_master_df.head()

In [ ]:
twitter_archive_master_df.info()

In [ ]:
del(twitter_archive_master_df)

In [ ]:
twitter_archive_master_df = twitter_archive_favs_df.merge(image_pd_df, on='tweet_id')

In [ ]:
twitter_archive_master_df.info()

In [134]:
twitter_archive_master_df.to_csv('twitter_archive_master.csv')

In [6]:
tweet_av_df[tweet_av_df.rating_numerator > 12 ].text

0       This is Phineas. He's a mystical boy. Only eve...
1       This is Tilly. She's just checking pup on you....
3       This is Darla. She commenced a snooze mid meal...
5       Here we have a majestic great white breaching ...
6       Meet Jax. He enjoys ice cream so much he gets ...
                              ...
2037    This is the best thing I've ever seen so sprea...
2074    After so many requests... here you go.\n\nGood...
2172    Just got home from college. Dis my dog. She do...
2212    Never forget this vine. You will not stop watc...
2228    This is Jareld. Jareld rules these waters. Lad...
Name: text, Length: 433, dtype: object

In [7]:
tweet_av_df.columns[tweet_av_df.isnull().any()]

Index(['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id',
       'retweeted_status_user_id', 'retweeted_status_timestamp',
       'expanded_urls'],
      dtype='object')

In [8]:
tweet_av_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [9]:
image_pd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [10]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   int64
 1   favorite_count  2354 non-null   int64
 2   retweet_count   2354 non-null   int64
dtypes: int64(3)
memory usage: 55.3 KB

In [11]:
tweet_av_df[tweet_av_df.tweet_id.duplicated()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [15]:
tweet_av_df.rating_numerator.sort_values(ascending=False).head(30)

979     1776
313      960
189      666
188      420
2074     420
1120     204
290      182
902      165
1779     144
1634     143
1635     121
1228      99
1843      88
433       84
1254      80
695       75
340       75
1351      60
1202      50
1274      45
1433      44
763       27
1712      26
516       24
1663      20
55        17
285       15
291       15
83        14
866       14
Name: rating_numerator, dtype: int64

In [35]:
int(np.rint(np.log2(165)))

7

In [24]:
tweet_av_df[tweet_av_df.rating_numerator > 100][['rating_numerator', 'rating_denominator']]

      rating_numerator  rating_denominator
188                420                  10
189                666                  10
290                182                  10
313                960                   0
902                165                 150
979               1776                  10
1120               204                 170
1634               143                 130
1635               121                 110
1779               144                 120
2074               420                  10

In [17]:
tweet_av_df.rating_numerator.sort_values().head(30)

315     0
1016    0
2335    1
2261    1
2338    1
605     1
1446    1
1869    1
2091    1
2038    1
1940    1
1764    2
2310    2
1761    2
1920    2
2246    2
2237    2
2349    2
2326    2
2079    2
2305    3
1249    3
1898    3
1478    3
1692    3
2202    3
765     3
1928    3
1314    3
2183    3
Name: rating_numerator, dtype: int64

In [36]:
tweet_av_df.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [37]:
tweet_av_df.doggo.unique()

array(['None', 'doggo'], dtype=object)

In [40]:
tweet_av_df.query('doggo != "None" and  floofer != "None"')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
200,854010172552949760,NaN,NaN,2017-04-17 16:34:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...","At first I thought this was a shy doggo, but i...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/854010172...,11,10,None,doggo,floofer,None,None

In [43]:
 tweet_av_df.query('doggo != "doggo" and  floofer != "floofer" and pupper != "pupper" and puppo != "puppo" ')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [44]:
list(tweet_av_df)

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'retweeted_status_id',
 'retweeted_status_user_id',
 'retweeted_status_timestamp',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

In [47]:
all_columns = pd.Series(list(tweet_av_df) + list(image_pd_df) + list(mydf))
all_columns[all_columns.duplicated()]

17    tweet_id
29    tweet_id
dtype: object

In [48]:
list(mydf)

['tweet_id', 'favorite_count', 'retweet_count']

In [10]:
def collecttweetdata(id):
    consumer_key = 'AeFxgKcFhsENzkKD8MfoMPoA9'
    consumer_secret = 'PErJwUZAwfmLBzZKyWBNwOpprGbUNsrro167rBYZ04JmzqmSqx'
    auth = tweepy.AppAuthHandler(consumer_key, consumer_secret)
    api = tweepy.API(auth)
    try:
        status = api.get_status(id, tweet_mode="extended")
        print(status)
        return status
    except tweepy.TweepError as e:
        print("Fail", e)
        pass

In [18]:
tweet_av_df.shape

(2356, 17)