In [12]:
import pandas as pd
import numpy as np
import json as json
import tweepy

In [13]:
tweet_av_df = pd.read_csv('twitter-archive-enhanced-2.csv')

In [14]:
tweet_av_df.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None

In [ ]:
tweet_av_df.info()

In [15]:
image_pd_df = pd.read_csv('image-predictions-3.tsv', sep='\t')

In [ ]:
image_pd_df.head()

In [ ]:
image_pd_df.info()

In [ ]:
tweets_data = []
with open('tweets.json', errors='ignore') as tweets:
    for line in tweets:
        #print(json.loads(json.dumps(line)))
        tweets_data.append(json.loads(json.dumps(line)))
tweets_df = pd.DataFrame(tweets_data)
tweets_df.head()

In [ ]:
from pandas.io.json import json_normalize
twt_dt = {}
with open('tweets.json', errors='ignore') as tweets:
    for line in tweets:
        twt_dt.append(json_normalize(json.loads(line)))
        #twt_dict = json.loads(line)
        #print(json_normalize(twt_dict))        
cmpd_df = pd.DataFrame.from_records(twt_dt)
cmpd_df.head()
#print(tweets_data[0])
#json_normalize(tweets_data[0])

In [ ]:
from pandas.io.json import json_normalize
df = json_normalize([json.loads(x) for x in open('tweets.json').readlines()])
print (df)

In [ ]:
df = pd.DataFrame()
row_df=[]
with open('tweets.json') as f:
    for l in f:
        try:
            df. = json_normalize(json.loads(l))
            row_df.append(df)
        except:
            pass
dt = pd.concat(row_df)
dt.head()
#dfA.head()

In [ ]:
df.info()

In [ ]:
dt.columns

In [ ]:
data = []
with open('tweets.json','r') as f:
    for l in f:
        try:
            data.append(json_normalize(json.loads(l)))
        except:
            pass
print(type(data[0]))
df = pd.DataFrame.from_dict(map(dict,data))
pd.DataFrame.join()
df.head()

In [ ]:
df.columns[pd.Series(df.columns).str.contains("favorite_count")]

In [ ]:
df.columns[pd.Series(df.columns).str.contains("retweet_count")]

In [ ]:
df[['favorite_count']].info()

In [ ]:
df[['retweet_count']].info()

In [ ]:
df[['id']].info()

In [ ]:
df[['retweet_count']]

In [ ]:
df[['id']]

In [ ]:
df[['favorite_count']]

In [ ]:
df[['id','favorite_count', 'retweet_count']].head()

In [4]:
def is_json_key_present(json, key):
    try:
        buf = json[key]
    except KeyError:
        return False

    return True

column_names = ["tweet_id", "favorite_count", "retweet_count"]
list_vals = []
with open('tweet-json.txt','r') as f:
    for l in f:
        try:
            myjson = json.loads(l)
            if (is_json_key_present(myjson,'id') and  is_json_key_present(myjson,'favorite_count') and is_json_key_present(myjson,'retweet_count')):
                vals = [myjson['id'], myjson['favorite_count'], myjson['retweet_count']]
                list_vals.append(vals)
            else:
                print('Skipping row as there is no data')
        except:
            pass
mydf = pd.DataFrame(list_vals, columns=column_names)
mydf.head()

             tweet_id  favorite_count  retweet_count
0  892420643555336193           39467           8853
1  892177421306343426           33819           6514
2  891815181378084864           25461           4328
3  891689557279858688           42908           8964
4  891327558926688256           41048           9774

In [ ]:
mydf.info()

In [ ]:
twitter_archive_favs_df =  tweet_av_df.merge(mydf, on='tweet_id')

In [ ]:
twitter_archive_master_df.head()

In [ ]:
twitter_archive_master_df.info()

In [ ]:
del(twitter_archive_master_df)

In [ ]:
twitter_archive_master_df = twitter_archive_favs_df.merge(image_pd_df, on='tweet_id')

In [ ]:
twitter_archive_master_df.info()

In [134]:
twitter_archive_master_df.to_csv('twitter_archive_master.csv')

In [6]:
tweet_av_df[tweet_av_df.rating_numerator > 12 ].text

0       This is Phineas. He's a mystical boy. Only eve...
1       This is Tilly. She's just checking pup on you....
3       This is Darla. She commenced a snooze mid meal...
5       Here we have a majestic great white breaching ...
6       Meet Jax. He enjoys ice cream so much he gets ...
                              ...
2037    This is the best thing I've ever seen so sprea...
2074    After so many requests... here you go.\n\nGood...
2172    Just got home from college. Dis my dog. She do...
2212    Never forget this vine. You will not stop watc...
2228    This is Jareld. Jareld rules these waters. Lad...
Name: text, Length: 433, dtype: object

In [7]:
tweet_av_df.columns[tweet_av_df.isnull().any()]

Index(['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id',
       'retweeted_status_user_id', 'retweeted_status_timestamp',
       'expanded_urls'],
      dtype='object')

In [8]:
tweet_av_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   tweet_id                    2356 non-null   int64
 1   in_reply_to_status_id       78 non-null     float64
 2   in_reply_to_user_id         78 non-null     float64
 3   timestamp                   2356 non-null   object
 4   source                      2356 non-null   object
 5   text                        2356 non-null   object
 6   retweeted_status_id         181 non-null    float64
 7   retweeted_status_user_id    181 non-null    float64
 8   retweeted_status_timestamp  181 non-null    object
 9   expanded_urls               2297 non-null   object
 10  rating_numerator            2356 non-null   int64
 11  rating_denominator          2356 non-null   int64
 12  name                        2356 non-null   object
 13  doggo                       2356 non-null   object
 14  floofer                     2356 non-null   object
 15  pupper                      2356 non-null   object
 16  puppo                       2356 non-null   object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [9]:
image_pd_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tweet_id  2075 non-null   int64
 1   jpg_url   2075 non-null   object
 2   img_num   2075 non-null   int64
 3   p1        2075 non-null   object
 4   p1_conf   2075 non-null   float64
 5   p1_dog    2075 non-null   bool
 6   p2        2075 non-null   object
 7   p2_conf   2075 non-null   float64
 8   p2_dog    2075 non-null   bool
 9   p3        2075 non-null   object
 10  p3_conf   2075 non-null   float64
 11  p3_dog    2075 non-null   bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [10]:
mydf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2354 entries, 0 to 2353
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tweet_id        2354 non-null   int64
 1   favorite_count  2354 non-null   int64
 2   retweet_count   2354 non-null   int64
dtypes: int64(3)
memory usage: 55.3 KB

In [11]:
tweet_av_df[tweet_av_df.tweet_id.duplicated()]

Empty DataFrame
Columns: [tweet_id, in_reply_to_status_id, in_reply_to_user_id, timestamp, source, text, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [15]:
tweet_av_df.rating_numerator.sort_values(ascending=False).head(30)

979     1776
313      960
189      666
188      420
2074     420
1120     204
290      182
902      165
1779     144
1634     143
1635     121
1228      99
1843      88
433       84
1254      80
695       75
340       75
1351      60
1202      50
1274      45
1433      44
763       27
1712      26
516       24
1663      20
55        17
285       15
291       15
83        14
866       14
Name: rating_numerator, dtype: int64

In [35]:
int(np.rint(np.log2(165)))

7

In [24]:
tweet_av_df[tweet_av_df.rating_numerator > 100][['rating_numerator', 'rating_denominator']]

      rating_numerator  rating_denominator
188                420                  10
189                666                  10
290                182                  10
313                960                   0
902                165                 150
979               1776                  10
1120               204                 170
1634               143                 130
1635               121                 110
1779               144                 120
2074               420                  10

In [17]:
tweet_av_df.rating_numerator.sort_values().head(30)

315     0
1016    0
2335    1
2261    1
2338    1
605     1
1446    1
1869    1
2091    1
2038    1
1940    1
1764    2
2310    2
1761    2
1920    2
2246    2
2237    2
2349    2
2326    2
2079    2
2305    3
1249    3
1898    3
1478    3
1692    3
2202    3
765     3
1928    3
1314    3
2183    3
Name: rating_numerator, dtype: int64

In [36]:
tweet_av_df.columns

Index(['tweet_id', 'in_reply_to_status_id', 'in_reply_to_user_id', 'timestamp',
       'source', 'text', 'retweeted_status_id', 'retweeted_status_user_id',
       'retweeted_status_timestamp', 'expanded_urls', 'rating_numerator',
       'rating_denominator', 'name', 'doggo', 'floofer', 'pupper', 'puppo'],
      dtype='object')

In [37]:
tweet_av_df.doggo.unique()

array(['None', 'doggo'], dtype=object)

In [40]:
tweet_av_df.query('doggo != "None" and  floofer != "None"')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
200,854010172552949760,NaN,NaN,2017-04-17 16:34:26 +0000,"<a href=""http://twitter.com/download/iphone"" r...","At first I thought this was a shy doggo, but i...",NaN,NaN,NaN,https://twitter.com/dog_rates/status/854010172...,11,10,None,doggo,floofer,None,None

In [43]:
 tweet_av_df.query('doggo != "doggo" and  floofer != "floofer" and pupper != "pupper" and puppo != "puppo" ')

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Phineas. He's a mystical boy. Only eve...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643...,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Tilly. She's just checking pup on you....,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421...,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Archie. He is a rare Norwegian Pouncin...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181...,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Darla. She commenced a snooze mid meal...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557...,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is Franklin. He would like you to stop ca...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891327558...,12,10,Franklin,None,None,None,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2351,666049248165822465,NaN,NaN,2015-11-16 00:24:50 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a 1949 1st generation vulpix. Enj...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666049248...,5,10,None,None,None,None,None
2352,666044226329800704,NaN,NaN,2015-11-16 00:04:52 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a purebred Piers Morgan. Loves to Netf...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666044226...,6,10,a,None,None,None,None
2353,666033412701032449,NaN,NaN,2015-11-15 23:21:54 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here is a very happy pup. Big fan of well-main...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666033412...,9,10,a,None,None,None,None
2354,666029285002620928,NaN,NaN,2015-11-15 23:05:30 +0000,"<a href=""http://twitter.com/download/iphone"" r...",This is a western brown Mitsubishi terrier. Up...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666029285...,7,10,a,None,None,None,None
2355,666020888022790149,NaN,NaN,2015-11-15 22:32:08 +0000,"<a href=""http://twitter.com/download/iphone"" r...",Here we have a Japanese Irish Setter. Lost eye...,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666020888...,8,10,None,None,None,None,None

In [44]:
list(tweet_av_df)

['tweet_id',
 'in_reply_to_status_id',
 'in_reply_to_user_id',
 'timestamp',
 'source',
 'text',
 'retweeted_status_id',
 'retweeted_status_user_id',
 'retweeted_status_timestamp',
 'expanded_urls',
 'rating_numerator',
 'rating_denominator',
 'name',
 'doggo',
 'floofer',
 'pupper',
 'puppo']

In [47]:
all_columns = pd.Series(list(tweet_av_df) + list(image_pd_df) + list(mydf))
all_columns[all_columns.duplicated()]

17    tweet_id
29    tweet_id
dtype: object

In [48]:
list(mydf)

['tweet_id', 'favorite_count', 'retweet_count']

In [10]:
def collecttweetdata(id):
    consumer_key = 'AeFxgKcFhsENzkKD8MfoMPoA9'
    consumer_secret = 'PErJwUZAwfmLBzZKyWBNwOpprGbUNsrro167rBYZ04JmzqmSqx'
    auth = tweepy.AppAuthHandler(consumer_key, consumer_secret)
    api = tweepy.API(auth)
    try:
        status = api.get_status(id, tweet_mode="extended")
        print(status)
        return status
    except tweepy.TweepError as e:
        print("Fail", e)
        pass

In [11]:
tweet_av_df.shape[0]

NameError: name 'tweet_av_df' is not defined